@tailwind base;
@tailwind components;
@tailwind utilities;

body  {
  max-width: 1440px;
  margin: 0 auto;
  padding: 1rem;
  background: #292929;
  text-align: white;
}

.bg-blue-500 {
  background: #4552FE !important;
}