@tailwind base;
@tailwind components;
@tailwind utilities;

body  {
  max-width: 1440px;
  margin: 0 auto;
  padding: 1rem;
  background-color: #292929;
  opacity: 1;
  background-image: radial-gradient(#2E426E .8px, #292929 .8px);
  background-size: 20px 20px;
  text-align: white;
}

.bg-blue-500 {
  background: #4552FE !important;
}